
/* Declaring Root Variables */
:root {
    --ribbon-color: #ED2939;

    --dark-text-color: #36454F;

    --page-background-color: #F0F0F0;

    --box-color-1: #F96E7D;
    --box-color-2: #E5D7BB;
    --box-color-3: #8EB29A;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

/* Font Utility Classes */
.raleway-utility-small {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
}

.raleway-utility-large {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
}

/* Ribbon Styling */
.ribbon {
    height: 35px;
    width: 100%;
    background-color: var(--ribbon-color);
    margin-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 4px solid var(--dark-text-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tooltip-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 100px;
    background-color: cyan;
}

/* Tooltip Styling */
.tooltip {
    background-image: linear-gradient(45deg, var(--box-color-1), var(--box-color-2), var(--box-color-3));
    height: 150px;
    width: 150px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--dark-text-color);
    border-radius: 5%;
    position: relative;

    & .tooltip-1-text {
        visibility: hidden;
        height: 30px;
        width: 110px;
        text-align: center;
        top: 20px;
        right: 170px;
        color: var(--dark-text-color);
        background-color: hotpink;
        opacity: 0.95;
        box-shadow: 5px 5px 10px 1px greenyellow;
        border-radius: 5px;
        border: 2px solid var(--dark-text-color);
        position: absolute;
    }

    & .tooltip-2-text {
        visibility: hidden;
        color: var(--dark-text-color);
        height: 30px;
        width: 110px;
        text-align: center;
        top: 160px;
        right: 20px;
        color: var(--dark-text-color);
        background-color: hotpink;
        opacity: 0.95;
        box-shadow: 5px 5px 10px 1px greenyellow;
        border-radius: 5px;
        border: 2px solid var(--dark-text-color);
        position: absolute;
        
    }

    & .tooltip-3-text {
        visibility: hidden;
        color: var(--dark-text-color);
        height: 30px;
        width: 110px;
        text-align: center;
        top: -50px;
        right: 20px;
        color: var(--dark-text-color);
        background-color: hotpink;
        opacity: 0.95;
        box-shadow: 5px 5px 10px 1px greenyellow;
        border-radius: 5px;
        border: 2px solid var(--dark-text-color);
        position: absolute;
    }
}

/* Hover States */
.tooltip-1:hover {
    & .tooltip-1-text {
        visibility: visible;
    }
}

.tooltip-2:hover {
    & .tooltip-2-text {
        visibility: visible;
    }
}

.tooltip-3:hover {
    & .tooltip-3-text {
        visibility: visible;
    }
}